body {
  height: 100vh;
  margin: 0px;
  display: grid;
  grid-template: 50px 1fr/ 300px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
}

.sidebar {
  grid-area: sidebar;
  background-color: whitesmoke;
}

.content {
  grid-area: content;
  background-color: white;
}

.header {
  grid-area: header;
  background-color: white;
  box-shadow: 10px 10px lightblue;
}
