body {
  height: 100vh;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template: 50px 1fr/ 300px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
}
.logo {
  font-size: 26px;
  margin: 0px;
  margin-left: 10px;
}
.sidebar {
  grid-area: sidebar;
  background-color: whitesmoke;
}

.content {
  grid-area: content;
  background-color: rgb(225, 225, 225);
}

.header {
  grid-area: header;
  background-color: white;
  align-self: center;
  display: flex;
}

.logoIcon {
  height: 30px;
  width: 30px;
}
.user {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  display: flex;
  margin-bottom: 20px;
}

.avatar {
  align-self: center;
}
.avatar img {
  height: 30px;
  width: 30px;
}

.username {
  margin-left: 10px;
  font-weight: 900;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  margin-left: 20px;
  display: grid;
  gap: 20px;
  font-size: 18px;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.addTaskDiv {
  height: 400px;
  width: 500px;
  background-color: green;
}

.addTaskView {
  display: flex;
  justify-content: center;
  align-items: center;
}
